<html lang="en">
<head>
  <meta charset="utf-8"/>
  <!-- passed in variables in handlebars are surrounded by two curly braces like the following
       Any variable you pass into res.render will be available by name in the template through
       the curly braces
  -->
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to page 3</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>

  <!--what does the required keyword do** -->
  <!--When a field marked with required is empty, 
  the browser will prompt the user to complete the field, 
  preventing the form from being submitted until all required 
  fields are completed. -->
  <!--should we not have the required since we deal with it in the controller
  index.js or should we leave it here as well**-->
  <!--go over code**-->
  <!--check errors in code**-->
  <!--check if mongo was installed correctly and for heroku**-->
  <!--check if assignment was forked correctly**-->
  <!--are we not using node modules anymore**-->
  <!--are status codes and messages ok in index.js**-->
  <!--we have to include the href for page 4 in all of the handlebars for all the 
  pages right (what about index handlebars)**-->
  <h2>Create a New Dog</h2>
  <form action="/createDog" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="breed" required><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br>
    <input type="submit" value="Create Dog">
  </form>

  <h2>Lookup Dog by Name to Increase Age</h2>
  <form action="/increaseAge" method="POST">
    <label for="lookupName">Name:</label>
    <input type="text" id="lookupName" name="name" required><br>
    <input type="submit" value="Increase Age">
  </form>

</body>
</html>
